.inner{

    justify-content: unset !important;
}
.navbar-light .navbar-brand {
    margin: 0 auto;
}

.nav-item:focus{
    color: white;
    background-color: black;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: rgba(0,0,0,.9);
    font-weight: 800;
}

.navbar-light .navbar-nav .nav-link {
    /* color: rgba(0,0,0,.55); */
    color: white;
    font-weight: 400;
}

.tabs {
    margin: 0 auto;
}

#footer {
    /* position:absolute;
   bottom:0; */
   height:fit-content;
   width: 100%;
}

#contact {
    align-items: center;
}
.bg-secondary {
    background-color: rgb(92 107 192) !important;
}
body {
    color: #ffffff
}

.box {
    margin: auto
}

.card {
    padding: 8%;
    padding-top: 35px;
    margin-top: 60px;
    margin-bottom: 80px
}

textarea[name="message"] {
    resize: none
}

#e-mail {
    height: 45px
}

#message {
    height: 120px
}

input.input-box,
textarea.input-box {
    background-color: #616161;
    border: #616161;
    color: #BDBDBD
}

input.input-box:focus,
textarea.input-box:focus {
    background-color: #000000;
    color: #BDBDBD
}

.rm-border:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none
}

form .form-control::-webkit-input-placeholder {
    color: #9E9E9E
}

::-moz-placeholder {
    color: #9E9E9E !important
}

input.btn-purple {
    background-color: #5C6BC0;
    color: #ffffff
}